:root {
  --governor-bay-50: #edf5ff;
  --governor-bay-100: #dfebff;
  --governor-bay-200: #c5daff;
  --governor-bay-300: #a2c0ff;
  --governor-bay-400: #7d9cfc;
  --governor-bay-500: #5e79f6;
  --governor-bay-600: #4152ea;
  --governor-bay-700: #333fcf;
  --governor-bay-800: #2b36a2;
  --governor-bay-900: #2b3684;
  --info: #383d45;
  --success: #70b360;
  --warning: #eea328;
  --danger: #f44336;

  --fs-large: 32px;
  --fs-medium: 28px;
  --fs-small: 16px;
  --fs-xsmall: 14px;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
}

body {
  background: var(--governor-bay-50);
  color: var(--governor-bay-900);
  font-family: "Open Sans", sans-serif;
  font-size: var(--fs-small);
  font-weight: var(--fw-400);
  min-height: 100vh;
}

.grid-flow {
  display: grid;
  gap: var(--gap, 1rem);
}

.flex-row {
  display: flex;
  gap: var(--gap, 1rem);
}

/* utilities */
.padding-15 {
  padding: 0.9375rem;
}

.padding-25 {
  padding: 1.5625rem;
}

.padding-35 {
  padding: 2.1875rem;
}

.text-dark {
  color: var(--governor-bay-900);
}

.text-light {
  color: var(--governor-bay-100);
}

.text-large {
  font-size: var(--fs-large);
}

.text-medium {
  font-size: var(--fs-medium);
}

.text-small {
  font-size: var(--fs-small);
}

.text-xsmall {
  font-size: var(--fs-xsmall);
}

.bg-white {
  background: var(--white, #fff);
}

.b-radius-3 {
  border-radius: var(--radius, 0.2rem);
}

.text-align-center {
  text-align: center;
}

.fw-bold {
  font-weight: var(--fw-700);
}

.justify-sb {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.main {
  place-items: center;
  --gap: 4rem;
}

.content {
  flex-direction: column;
  --gap: 1rem;
}

.right-content .container {
  position: relative;
  width: 100px;
  height: 100px;
}

.right-content .container h2 {
  z-index: 2;
}

.right-content .container img {
  position: absolute;
  inset: 0;
}
